#container
{
	
	display: flex;
	width: auto;
	justify-content: center;
	
}
h1 span
{
	color: gold;
}

h1
{
	text-align: auto;

}


h5
{
	background-color: black;
	color: #FFD700;
	padding: 5px;
	text-align: center;
}
                                                                                                 
div
{
	display: flex;
	justify-content: space-around;
	margin-bottom: 20px;
}

.informations
{
	background-color: #FFD700;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
	width: 30%;
	font-family: 'Lobster', cursive;

}
.parcours
{
    background-color: white;
    width: auto;
    text-align: justify;
    margin-left: 50px;
    font-family: 'Lobster', cursive;

   }
.subtitle{
  position:relative;
}

.subtitle::after{
  position:absolute;
  bottom:-5px;
  left:0;
  content:'';
  width:50px;
  height:5px;
  background-color:gold;
}



 p img 
{
	margin-top: 30px;
	margin-left: 350px;
	border-radius: 50%;
	display: flex;
	justify-content: center;

}
p
{
	padding-left: 0;
	padding-right: 20px;
	margin-bottom: 0;

}



@media screen and (max-width: 760px)
 
{
	#container
{
	flex-direction: column;
	width: auto;


} 

.informations
{
	width: 100%;
}

p img
{
	margin-left: 190px;
	align-content: center;
}