#container
{
	display: flex;
	width: auto;
    
}

h1 span{
	color: gold;
}




h2{
	text-decoration: underline;
	text-decoration-color: #FF66FF;
	text-underline-position: under;
}

h4
{
	display: none;
}

h5{
	background-color: black;
	color: #FFD700;
	padding: 5px;
	text-align: center;
}
                                                                                                 
div {
	display: flex;
	justify-content: space-around;
	margin-bottom: 20px;
}


.informations{
	background-color: #FFD700;
	text-align: justify;
	width: 30%;
	font-family: 'Lobster', cursive;
}
h4
{
	text-align: center;
}


.details
{
padding-left:20px;
}

.me{
    padding-left: 20px;
    padding-right:20px;
}

.parcours{
    background-color: white;
    width: auto;
    text-align: justify;
    margin-left: 50px;
    font-family: 'Lobster', cursive;
 }

.subtitle{
  position:relative;
}

.subtitle::after{
  position:absolute;
  bottom:-5px;
  left:0;
  content:'';
  width:50px;
  height:5px;
  background-color:gold;
}

 .photo{
	
	display: flex;
	justify-content: center;
}

img{
	border-radius: 50%;
}



@media screen and (max-width: 760px)
 
{
	#container{
	flex-direction: column;
	width: auto;
   } 

.informations{
	width: auto;
   }

img{
	display: flex;
	justify-content: center; 
   }
}
